<component name="libraryTable">
  <library name="spring-android-core-1.0.1.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.android/spring-android-core/1.0.1.RELEASE/jar/e68f0e8e4b636ee30c4de58953be38d9b72a5e3b/spring-android-core-1.0.1.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>