<component name="libraryTable">
  <library name="spring-social-core-1.0.2.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.social/spring-social-core/1.0.2.RELEASE/jar/93df80ccc73d7a2de75571f9617140291538c87/spring-social-core-1.0.2.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>